* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
}

header .session-info {
    display: flex;
    gap: 20px;
    align-items: center;
}

header a {
    color: white;
    text-decoration: none;
}

.container {
    display: flex;
    height: calc(100vh - 50px); /* Altura da página menos o cabeçalho */
}

.sidebar {
    width: 250px;
    background-color: #333;
    padding-top: 20px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin-bottom: 20px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #575757;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.campos {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.msg-verde{
    width: 100%;
    padding: 10px;
    color: white;
    background-color: #45a049;
    border-radius: 10px;
}

.msg-vermelho{
    width: 100%;
    padding: 10px;
    color: white;
    background-color: #bb0000;
    border-radius: 10px;
}

/* Estilos da Tabela */

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead th {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: left;
}

tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

/* Estilos dos Botões de Ação */

.edit-btn, .delete-btn {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
}

.edit-btn {
    background-color: #4CAF50;
    margin-right: 5px;
}

.delete-btn {
    background-color: #f44336;
}

.edit-btn:hover {
    background-color: #45a049;
}

.delete-btn:hover {
    background-color: #e53935;
}

.status_pagInicial{
    background-color: #45a049;
    color: white;
    width: 50%;
    padding: 10px;
}